html, body {
    margin: 20px auto;
    background: #cff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

ul {
    max-width:400px;
    text-align: left;
    margin:20px auto;
}

ul li {
    margin:5px;
    position:relative;
    width:100%;
    font-size:110%;
    list-style-type: none;
    overflow:hidden;
}
ul li button {
    border:1px solid #666;
    background: transparent;
    font-size: 150%;
    margin-right: 10px;
}

input[type="text"] {
    width:90%;
    max-width: 500px;
    padding:15px;
    font-size: 120%;
}